
@model BRTF_Room_Booking_App.Models.Room

@{ ViewData["Title"] = "Create Room"; }

<body style="background-color:#E4E6E6" class="justify-content-left">
    <br/>
    <h1 class="mb-4 text-center">Create Room</h1>
    <br/>

    <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);" class="px-5 py-2 my-3">
        <div>
            <br />
            <h4 class="text-center">Create New Room</h4>
            <br />
        </div>
        <form asp-action="Create">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="colform-group">
                            <strong><label asp-for="RoomGroupID" class="control-label">Area:</label></strong>
                            <select asp-for="RoomGroupID" class="form-control" asp-items="ViewBag.RoomGroupID"></select>
                        </div>
                        <div>
                            <strong><label asp-for="RoomName" class="control-label"></label></strong>
                            <input asp-for="RoomName" class="form-control" />
                            <span asp-validation-for="RoomName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <strong><label asp-for="RoomMaxHoursTotal" class="control-label"></label></strong>
                        <textarea asp-for="RoomMaxHoursTotal" class="form-control"></textarea>
                        <span asp-validation-for="RoomMaxHoursTotal" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <strong>
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                            </label>
                        </strong>
                    </div>
                </div>
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <input type="submit" value="Create" class="btn btn-primary mx-2" style="width:100px;" />
                <a href='@ViewData["returnURL"]' role="button" class="btn btn-secondary mx-2">Back to Rooms</a>
            </div>
            <br />
        </form>
    </section>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
