@model BRTF_Room_Booking_App.Models.RoomBooking

@{
    ViewData["Title"] = "Edit Booking";
}

<body style="background-color:#E4E6E6" class="align-items-center text-center justify-content-center">

    <h3>Edit</h3>

    <section style="background-color: rgb(250, 250, 250);display: block;" class="px-5 py-2 my-3">
        <div>
            <h4>Edit your Booking</h4>
        </div>
        <div>
            <div class="container">

                <form asp-action="Edit">
                    <div class="row form-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-2 text-right pt-2">
                            <label asp-for="UserID" class="control-label">Full Name:</label>
                        </div>
                        <div class="col-10">
                            <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2 text-right pt-2">
                            <label asp-for="SpecialNotes" class="control-label">Special Notes:</label>
                        </div>
                        <div class="col-10">
                            <textarea asp-for="SpecialNotes" class="form-control"></textarea>
                            <span asp-validation-for="SpecialNotes" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2 text-right pt-2">
                            <label asp-for="StartDate" class="control-label">Start:</label>
                        </div>
                        <div class="col-5">
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="col-5">
                            <select asp-for="StartTimeID" class="form-control" asp-items="ViewBag.StartTimeID"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2 text-right pt-2">
                            <label asp-for="EndDate" class="control-label">End:</label>
                        </div>
                        <div class="col-5">
                            <input asp-for="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                        <div class="col-5">
                            <select asp-for="EndTimeID" class="form-control" asp-items="ViewBag.EndTimeID"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2 text-right pt-2">
                            <label asp-for="Room.RoomGroupID" class="control-label">Area:</label>
                        </div>
                        <div class="col-10">
                            <select asp-for="Room.RoomGroupID" class="form-control" asp-items="ViewBag.RoomGroupID"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2 text-right pt-2">
                            <label asp-for="RoomID" class="control-label">Room:</label>
                        </div>
                        <div class="col-10">
                            <select asp-for="RoomID" class="form-control" asp-items="ViewBag.RoomID" size="4"></select>
                        </div>
                    </div>
                    <div>
                        <label for="chkRepeat" class="control-label">Repeat?</label>
                        <input type="checkbox" id="chkRepeat" class="control-label" data-toggle="collapse" data-target="#collapseRepeat" aria-expanded="false" aria-controls="collapseRepeat" />
                    </div>
                    <div class="collapse" id="collapseRepeat">
                        <div class="container">
                            <div class="row">
                                <div class="col-2 text-right">
                                    <label asp-for="RepeatType" class="control-label">Every:</label>
                                </div>
                                <div class="col-5">
                                    <input asp-for="RepeatInterval" class="form-control" />
                                </div>
                                <div class="col-5">
                                    <select asp-for="RepeatType" class="form-control">
                                        <option>None</option>
                                        <option>Days</option>
                                        <option>Weeks</option>
                                        <option>Months</option>
                                    </select>
                                    <span asp-validation-for="RepeatType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="container mt-3">
                                <div class="row">
                                    <div class="col">
                                        <input type="checkbox" asp-for="Monday" style="width: 20px; height: 20px;" />
                                    </div>
                                    <div class="col">
                                        <input type="checkbox" asp-for="Tuesday" style="width: 20px; height: 20px;" />
                                    </div>
                                    <div class="col">
                                        <input type="checkbox" asp-for="Wednesday" style="width: 20px; height: 20px; " />
                                    </div>
                                    <div class="col">
                                        <input type="checkbox" asp-for="Thursday" style="width: 20px; height: 20px; " />
                                    </div>
                                    <div class="col">
                                        <input type="checkbox" asp-for="Friday" style="width: 20px; height: 20px; " />
                                    </div>
                                    <div class="col">
                                        <input type="checkbox" asp-for="Saturday" style="width: 20px; height: 20px; " />
                                    </div>
                                    <div class="col">
                                        <input type="checkbox" asp-for="Sunday" style="width: 20px; height: 20px; " />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label">Mon</label>
                                    </div>
                                    <div class="col">
                                        <label class="control-label">Tue</label>
                                    </div>
                                    <div class="col">
                                        <label class="control-label">Wed</label>
                                    </div>
                                    <div class="col">
                                        <label class="control-label">Thu</label>
                                    </div>
                                    <div class="col">
                                        <label class="control-label">Fri</label>
                                    </div>
                                    <div class="col">
                                        <label class="control-label">Sat</label>
                                    </div>
                                    <div class="col">
                                        <label class="control-label">Sun</label>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-2 text-right pt-2">
                                        <label asp-for="RepeatEndDate" class="control-label">Repeat End Date:</label>
                                    </div>
                                    <div class="col-5">
                                        <input asp-for="RepeatEndDate" class="form-control" />
                                        <span asp-validation-for="RepeatEndDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Create" class="btn btn-primary mx-2" style="width:100px;" />
                        <a asp-action="Index" role="button" class="btn btn-secondary mx-2" style="width:100px;">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            if ("@Model.RepeatType" != "None") {
                document.getElementById("chkRepeat").click();
            }
        });

    </script>
}
