@model BRTF_Room_Booking_App.Models.RoomBooking

@{
    ViewData["Title"] = "Edit Booking";
}

<body style="background-color:#E4E6E6" class="align-items-center text-center justify-content-center">

    <h3>Edit</h3>

    <section style="background-color: rgb(250, 250, 250);display: block;" class="px-5 py-2 my-3">
        <div>
            <h4>Edit your Booking</h4>
        </div>
        <div>
            <div class="container">

                <form asp-action="Edit">
                    <div class="row form-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-2 text-right pt-2">
                            <label asp-for="UserID" class="control-label">Full Name:</label>
                        </div>
                        <div class="col-10">
                            <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2 text-right pt-2">
                            <label asp-for="SpecialNotes" class="control-label">Special Notes:</label>
                        </div>
                        <div class="col-10">
                            <textarea asp-for="SpecialNotes" class="form-control"></textarea>
                            <span asp-validation-for="SpecialNotes" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2 text-right pt-2">
                            <label asp-for="StartDate" class="control-label">Start:</label>
                        </div>
                        <div class="col-5">
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="col-5">
                            <select asp-for="StartTimeID" class="form-control" asp-items="ViewBag.StartTimeID"></select>
                            <span asp-validation-for="StartTimeID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2 text-right pt-2">
                            <label for="EndDate" class="control-label">End:</label>
                        </div>
                        <div class="col-5">
                            <input type="date" id="EndDate" name="EndDate" class="form-control" disabled />@* Note: This end date is only used as a display. It does not save data *@
                        </div>
                        <div class="col-5">
                            <select asp-for="EndTimeID" class="form-control" asp-items="ViewBag.EndTimeID"></select>
                            <span asp-validation-for="EndTimeID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2 text-right pt-2">
                            <label for="RoomGroupID" class="control-label">Area:</label>
                        </div>
                        <div class="col-10">
                            <select id="RoomGroupID" name="RoomGroupID" class="form-control" asp-items="ViewBag.RoomGroupID"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-2 text-right pt-2">
                            <label asp-for="RoomID" class="control-label">Room:</label>
                        </div>
                        <div class="col-10">
                            <select asp-for="RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
                            <span asp-validation-for="RoomID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Create" class="btn btn-primary mx-2" style="width:100px;" />
                        <a asp-action="Index" role="button" class="btn btn-secondary mx-2" style="width:100px;">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/refreshDDL.js"></script>
    <script type="text/javascript">
        // Reload certain input fields when page loads
        $(document).ready(function () {
            // Fill end date display field. (Note: This end date is only used as a display. It does not save data)
            var date = $('#StartDate')[0].valueAsDate;
            if ($("#EndTimeID option:selected").text().toLowerCase().includes("end"))
                date.setDate(date.getDate() + 1);
            $('#EndDate')[0].valueAsDate = date;
        });
        // Refresh DDL of available rooms when Area is changed
        $('#RoomGroupID').change(function () {
            var selectedRoomGroup = $("#RoomGroupID").val();
            var URL = "/RoomBookings/GetRooms/" + selectedRoomGroup;
            refreshDDL('RoomID', URL, true, "There are no Rooms available in this Area.", true, "-Select a Room-", true);
        });
        // Update non-repeat end date display when Start Date is changed
        // (Note: This end date is only used as a display. It does not save data)
        $('#StartDate').change(function () {
            var date = this.valueAsDate;
            if ($("#EndTimeID option:selected").text().toLowerCase().includes("end"))
                date.setDate(date.getDate() + 1);
            $('#EndDate')[0].valueAsDate = date;
        });
        // Update non-repeat end date display when End Time is changed
        // (Note: This end date is only used as a display. It does not save data)
        $('#EndTimeID').change(function () {
            var date = $('#StartDate')[0].valueAsDate;
            if ($("#EndTimeID option:selected").text().toLowerCase().includes("end"))
                date.setDate(date.getDate() + 1);
            $('#EndDate')[0].valueAsDate = date;
        });
    </script>
}
