@model BRTF_Room_Booking_App.Models.UserGroup

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body style="background-color:#E4E6E6" class="align-items-center text-center justify-content-center">

    <br />
    <h1>Edit</h1>
    <br />

    <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);" class="px-5 py-2 my-3">
        <div>
            <br />
            <h4>Edit this User Group</h4>
            <br />
        </div>
        <div class="container">
            <form asp-action="Edit">
                <div class="row">
                    <div class="col-md-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ID" />
                        <div class="form-group text-left">
                            <label asp-for="UserGroupName" class="label"></label>
                            <input asp-for="UserGroupName" class="form-control" />
                            <span asp-validation-for="UserGroupName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="form-group col-md-6 text-left">
                                <label class="label"> Current Room Group Permissions</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                                    <strong>-</strong>
                                </button>
                                @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                            </div>

                            <div class="form-group col-md-6 text-left">
                                <label class="label"> Add Room Group Permissions</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                                    <strong>+</strong>
                                </button>
                                @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary mx-2" style="width:100px;" />
                    <a href='@ViewData["returnURL"]' role="button" class="btn btn-secondary mx-2" style="width:100px;">Back</a>
                </div>
                <br />
            </form>
        </div>
    </section>
</body>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script src="~/js/multiselect.js"></script>
    }
