@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset Password Confirmation";
}
<div class="my-3 align-items-center text-center justify-content-center">
    <img class="login_logo" src="~/img/Logo.png" alt="Logo of BRTF" />
</div>
<div class="row align-items-center text-center justify-content-center">

    <div class="login_block col-md-3 text-center" style="background-color: #FFF; margin:auto; padding-top: 30px; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);">
        <h1>Your Password Has Been Reset</h1>

        <section>
            <hr />
            <p>
                Please <a asp-page="./Login">click here to log in</a>.
            </p>
        </section>
    </div>
</div>
<link rel="stylesheet" href="~/css/site.css" />