@model BRTF_Room_Booking_App.Models.RoomGroup

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RoomGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AreaName" class="control-label"></label>
                <input asp-for="AreaName" class="form-control" />
                <span asp-validation-for="AreaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlackoutTime" class="control-label"></label>
                <input asp-for="BlackoutTime" class="form-control" />
                <span asp-validation-for="BlackoutTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxHoursPerSingleBooking" class="control-label"></label>
                <input asp-for="MaxHoursPerSingleBooking" class="form-control" />
                <span asp-validation-for="MaxHoursPerSingleBooking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxHoursTotal" class="control-label"></label>
                <input asp-for="MaxHoursTotal" class="form-control" />
                <span asp-validation-for="MaxHoursTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxNumberOfBookings" class="control-label"></label>
                <input asp-for="MaxNumberOfBookings" class="form-control" />
                <span asp-validation-for="MaxNumberOfBookings" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
