@model BRTF_Room_Booking_App.Models.RoomGroup

@{
    ViewData["Title"] = "Create Room Group";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body class="justify-content-center">
    <br/>
    <h1 class="mb-4 text-center">Create</h1>
    <br/>

    <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2); width: 80%; margin:auto" class="px-5 py-2 my-3">
        <div>
            <br />
            <h4 class="text-center">Create New Room Group</h4>
            <br />
        </div>
        <form asp-action="Create">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AreaName" class="label">Area Name: *</label>
                        <input asp-for="AreaName" class="form-control" />
                        <span asp-validation-for="AreaName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BlackoutTime" class="label">Blackout Time: *</label>
                        <input asp-for="BlackoutTime" class="form-control" />
                        <span asp-validation-for="BlackoutTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxHoursPerSingleBooking" class="label"></label>
                        <input asp-for="MaxHoursPerSingleBooking" class="form-control" />
                        <span asp-validation-for="MaxHoursPerSingleBooking" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxHoursTotal" class="label"></label>
                        <input asp-for="MaxHoursTotal" class="form-control" />
                        <span asp-validation-for="MaxHoursTotal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxNumberOfBookings" class="label"></label>
                        <input asp-for="MaxNumberOfBookings" class="form-control" />
                        <span asp-validation-for="MaxNumberOfBookings" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                            <label class="label">
                                <input class="form-check-input" asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                            </label>
                    </div>
                </div>
            </div>
            <br/>
            <div class="d-flex justify-content-center">
                <input type="submit" value="Create" class="btn btn-primary mx-2" style="width:100px;" />
                <a href='@ViewData["returnURL"]' role="button" class="btn btn-secondary mx-2">Back to Room Groups</a>
            </div>
            <br/>
        </form>
    </section>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
