@{
    ViewData["Title"] = "Help";
}
<link rel="stylesheet" href="~/css/style.css">
<!--Font Awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="header">
    <h1>Help</h1>
    <p>Please contact the program assistant at the V7a office on campus for any questions that aren't answered here.</p>
</div>

<div class="section-one-title">
    <h3>Authentication</h3>
</div>
<div class="section-one">
    <div class="wrapper">
        <button class="toggle">
            How do I login?
            <i class="fas fa-plus icon"></i>
        </button>
        <div class="content">
            <p>Your login username is your student id. Your password will be the YEAR, MONTH and DAY you were born. Example: October 1, 1990 would be: 19901001.</p>
        </div>
    </div>
    <div class="wrapper">
        <button class="toggle">
            How can I change my password?
            <i class="fas fa-plus icon"></i>
        </button>
        <div class="content">
            <p>At the  right corner, click on 'Your Details'. Next click on your student ID. From here you can change your password and update your profile.</p>
        </div>
    </div>
    <div class="wrapper">
        <button class="toggle">
            I forgot my password, how can I reset it?
            <i class="fas fa-plus icon"></i>
        </button>
        <div class="content">
            <p>Passwords can only be reset from the V7a office on campus. You will need to bring your student ID card for verification to request a reset.</p>
        </div>
    </div>
</div>

<div class="section-two-title">
    <h3>Building Passes</h3>
</div>
<div class="section-two">
    <div class="wrapper">
            <button class="toggle">
                What is and when will I need a building pass?
                <i class="fas fa-plus icon"></i>
            </button>
            <div class="content">
                <p>Building passes are required for security to allow you physical access to the campus and booked room. Security begins overseeing BRTF Monday – Friday from 5:30pm to 8:30am and all day on the weekends.</p>
            </div>
        </div>
</div>

<div class="section-three-title">
    <h3>My Bookings</h3>
</div>
<div class="section-three">
    <div class="wrapper">
            <button class="toggle">
                How can I see what I've booked?
                <i class="fas fa-plus icon"></i>
            </button>
            <div class="content">
                <p>In the search box at the , type in your Student Number and click search. The results will be for anything in the future.</p>
            </div>
        </div>

        <div class="wrapper">
            <button class="toggle">
                My booking has not been approved yet.
                <i class="fas fa-plus icon"></i>
            </button>
            <div class="content">
                <p>Booking approvals will be done Monday-Thursday between 8:30am to 3:00pm. If you have booked on Friday for the weekend, you can consider it to be approved as long as you have followed the room rules located on the booking calendar at the . Bookings that have not followed the rules will be addressed and may result in suspension from using the online booking system and having to book out rooms locally in the V7a office on campus.</p>
            </div>
        </div>

        <div class="wrapper">
            <button class="toggle">
                The system isn't allowing me to book.
                <i class="fas fa-plus icon"></i>
            </button>
            <div class="content">
                <p>Check to make sure you are not attempting to book in the past or that you aren't trying to book more than 14 days in the future. Additionally, there are checkmark or 'x' icons near the 'submit'. Holding your mouse over will explain any issues such as scheduling conflicts with an existing book. If you continue to experience issues come and report the issue in the V7a office on campus.</p>
            </div>
        </div>

        <div class="wrapper">
            <button class="toggle">
                What happens if multiple people schedule the same room at the same time?
                <i class="fas fa-plus icon"></i>
            </button>
            <div class="content">
                <p>The first person to click 'submit' will win.</p>
            </div>
        </div>

        <div class="wrapper">
            <button class="toggle">
                What happens if multiple people schedule the same room at the same time?
                <i class="fas fa-plus icon"></i>
            </button>
            <div class="content">
                <p>Room lists are specifically tailored to your current program direction. If you need to book outside of your available areas you will need to request your booking with the program assistant from the V7a office on campus.</p>
            </div>
        </div>
</div>

<div class="section-four-title">
    <h3>Special Approvals</h3>
</div>
<div class="section-four">
    <div class="wrapper">
            <button class="toggle">
                I need to book more hours than the standard room hours.
                <i class="fas fa-plus icon"></i>
            </button>
            <div class="content">
                <p>The room hours have been calibrated to allow each student an opportunity to book out a room when necessary. If you have a special circumstance or faculty approval to book additional hours you will need to request your booking with the program assistant from the V7a office on campus.</p>
            </div>
        </div>

        <div class="wrapper">
            <button class="toggle">
                The calendar shows class but I know there isn't one. How can I book during that time?
                <i class="fas fa-plus icon"></i>
            </button>
            <div class="content">
                <p>In order to book during a regularly scheduled class period you must come to the V7a office so you can be scheduled.</p>
            </div>
        </div>
</div>

<div class="final-note">
    <h6>NOTE: Booking over class time is done AT YOUR OWN RISK. If a class does end up utilizing the room your booking will be cancelled.</h6>
</div>

