@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="~/img/HomePage.png" alt="Home Page Design" width=90% height=auto/>
    <h2 class="caption">Launching Soon</h2>
</div>
