@{
    ViewData["Title"] = "Home Page";
}
<!--Font Awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<br />
<h1 class="text-center">Welcome to Niagara College BRTF</h1>

<div class="row justify-content-center">
    <div class="flex-column m-4 p-4 text-center">
        <div class="segment">
            <i class="fab fa-buromobelexperte fa-5x" style="color:#2F7DBB;"></i>
            <h2 class="my-3">Book a Room</h2>
            <a asp-area="" asp-controller="RoomBookings" asp-action="Create" role="button" class="btn mx-2" style="width:150px; background:#2F7DBB; color:#E4E6E6; font-weight:400;">Book a Room</a>
        </div>
    </div>
    <div class="flex-column m-4 p-4 text-center">
        <div class="segment">
            <i class="fas fa-info-circle fa-5x" style="color:#2F7DBB;"></i>
            <h2 class="my-3">Help</h2>
            <a asp-area="" asp-controller="Home" asp-action="Help" role="button" class="btn mx-2" style="width:150px; background:#2F7DBB; color:#E4E6E6; font-weight:400;">Help</a>
        </div>
    </div>
    <div class="flex-column m-4 p-4 text-center">
        <div class="segment">
            <i class="fas fa-clipboard-list fa-5x" style="color:#2F7DBB;"></i>
            <h2 class="my-3">Bookings</h2>
            <a asp-area="" asp-controller="RoomBookings" asp-action="Index" role="button" class="btn mx-2" style="width:150px; background:#2F7DBB; color:#E4E6E6; font-weight:400;">Bookings</a>
        </div>
    </div>
</div>
@if (User.IsInRole("Admin") || User.IsInRole("Top-level Admin"))
{
    <div class="row justify-content-center">
        <div class="flex-column m-4 p-4 text-center">
            <div class="segment">
                <i class="fas fa-table fa-5x" style="color:#2F7DBB;"></i>
                <h2 class="my-3">Admin Reports</h2>
                <a asp-area="" asp-controller="Rooms" asp-action="BookingSummary" role="button" class="btn mx-2" style="width:150px; background:#2F7DBB; color:#E4E6E6; font-weight:400;">Admin Reports</a>
            </div>
        </div>
        <div class="flex-column m-4 p-4 text-center">
            <div class="segment">
                <i class="fas fa-users fa-5x" style="color:#2F7DBB;"></i>
                <h2 class="my-3">Register User</h2>
                <a asp-area="" asp-controller="Users" asp-action="Create" role="button" class="btn mx-2" style="width:150px; background:#2F7DBB; color:#E4E6E6; font-weight:400;">Register User</a>
            </div>
        </div>
    </div>
}
