@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Niagara College BRTF</h1>  
    <img src="~/img/HomePage.png" alt="Home Page Design" width=90% height=auto/>
    <h2 class="caption">Launching Soon</h2>
</div>
