
@{
    ViewData["Title"] = "Reports";
}

<div class="text-center">
    <h1 class="display-4">Booking Reports</h1>  
    <img src="~/img/ReportsPage.png" alt="Reports Page Design" width=90% height=auto/>
    <h2 class="caption-2">Launching Soon</h2>
</div>

